<a href="https://colab.research.google.com/github/durgavenkatareddy/Task1/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd

x = pd.read_csv("sales_data_sample.csv", encoding='latin1')
print(x.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107             30.0      95.70              2.0  2871.00
1        10121             34.0      81.35              5.0  2765.90
2        10134             41.0      94.74              2.0  3884.34
3        10145             45.0      83.26              6.0  3746.70
4        10159             49.0     100.00             14.0  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...
1  05-07-2003 00:00  Shipped       2         5     2003  ...
2  07-01-2003 00:00  Shipped       3         7     2003  ...
3    8/25/2003 0:00  Shipped       3         8     2003  ...
4  10-10-2003 00:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [76]:
x.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2814.000000,2823.000000,2820.000000,2817.000000,2823.000000,2823.000000,2823.000000,2823.000000
mean,10258.837407,35.068586,83.624003,6.477660,3546.224547,2.714488,7.082536,2003.816507,100.668438
std,92.039349,9.757234,20.184087,4.227966,1840.933350,1.205039,3.662003,0.699537,40.182529
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.000000,33.000000
25%,10180.000000,27.000000,68.745000,3.000000,2194.220000,2.000000,4.000000,2003.000000,68.000000
50%,10262.000000,35.000000,95.550000,6.000000,3177.300000,3.000000,8.000000,2004.000000,99.000000
75%,10334.000000,43.000000,100.000000,9.000000,4480.320000,4.000000,11.000000,2004.000000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.000000,214.000000

In [77]:
print(x.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        9
PRICEEACH              0
ORDERLINENUMBER        3
SALES                  6
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            7
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2522
CITY                   0
STATE               1488
POSTALCODE            76
COUNTRY                0
TERRITORY           1073
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [78]:
# Identify and handle missing values using .isnull() in Python or filters in Excel.

x = x.drop(columns = ['ADDRESSLINE2', 'STATE', 'TERRITORY'])
x = x.dropna(subset=['ORDERLINENUMBER'])
numerical_cols=['QUANTITYORDERED','SALES']
for col in numerical_cols:
  # Calculate the mean of non-missing values in the column
  col_mean = x[col].mean()

  # Fill missing values in the column with the calculated mean
  x[col] = x[col].fillna(col_mean)
categorical_cols =['PRODUCTLINE','POSTALCODE']

for col in categorical_cols:
  # Fill missing values in the column with the forward fill
  x[col] = x[col].ffill()

print(x.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107             30.0      95.70              2.0  2871.00
1        10121             34.0      81.35              5.0  2765.90
2        10134             41.0      94.74              2.0  3884.34
3        10145             45.0      83.26              6.0  3746.70
4        10159             49.0     100.00             14.0  5205.27

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... PRODUCTCODE  \
0    2/24/2003 0:00  Shipped       1         2     2003  ...    S10_1678
1  05-07-2003 00:00  Shipped       2         5     2003  ...    S10_1678
2  07-01-2003 00:00  Shipped       3         7     2003  ...    S10_1678
3    8/25/2003 0:00  Shipped       3         8     2003  ...    S10_1678
4  10-10-2003 00:00  Shipped       4        10     2003  ...    S10_1678

               CUSTOMERNAME             PHONE                   ADDRESSLINE1  \
0         Land of Toys Inc.        2125557818        897 Long Airport Avenue
1        Reims Collectables        26.47.1555             59 rue de l'Abbaye
2           Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia
3         Toys4GrownUps.com        6265557265             78934 Hillside Dr.
4  Corporate Gift Ideas Co.        6505551386                7734 Strong St.

            CITY POSTALCODE COUNTRY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0            NYC      10022     USA              Yu             Kwai    Small
1          Reims      51100  France         Henriot             Paul    Small
2          Paris      75508  France        Da Cunha           Daniel   Medium
3       Pasadena      90003     USA           Young            Julie   Medium
4  San Francisco      90003     USA           Brown            Julie   Medium

[5 rows x 22 columns]

In [79]:
print(x.isnull().sum())

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
CITY                0
POSTALCODE          0
COUNTRY             0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [80]:
# Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.

print(f"Data shape before removing duplicates: {x.shape}")
num_duplicates = x.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")
x.drop_duplicates(inplace=True)
print(f"Data shape after removing duplicates: {x.shape}")

Data shape before removing duplicates: (2820, 22)
Number of duplicate rows: 11
Data shape after removing duplicates: (2809, 22)

In [81]:
# Standardize text values like gender, country names, etc.

print(x[['COUNTRY', 'CITY', 'STATUS', 'CUSTOMERNAME']].head())
x['CUSTOMERNAME'] = x['CUSTOMERNAME'].astype(str).str.strip().str.title()
x['COUNTRY'] = x['COUNTRY'].str.upper()
x['STATUS'] = x['STATUS'].str.upper()
x['COUNTRY'] = x['COUNTRY'].replace({
    'United States': 'USA',
    'U.S.A.': 'USA',
    'Usa': 'USA',
    'Uk': 'UK',
    'United Kingdom': 'UK'
})
print(x[['COUNTRY', 'CITY', 'STATUS', 'CUSTOMERNAME']].head())

  COUNTRY           CITY   STATUS              CUSTOMERNAME
0     USA            NYC  Shipped         Land of Toys Inc.
1  France          Reims  Shipped        Reims Collectables
2  France          Paris  Shipped           Lyon Souveniers
3     USA       Pasadena  Shipped         Toys4GrownUps.com
4     USA  San Francisco  Shipped  Corporate Gift Ideas Co.
  COUNTRY           CITY   STATUS              CUSTOMERNAME
0     USA            NYC  SHIPPED         Land Of Toys Inc.
1  FRANCE          Reims  SHIPPED        Reims Collectables
2  FRANCE          Paris  SHIPPED           Lyon Souveniers
3     USA       Pasadena  SHIPPED         Toys4Grownups.Com
4     USA  San Francisco  SHIPPED  Corporate Gift Ideas Co.

In [82]:
# Convert date formats to a consistent type (e.g., dd-mm-yyyy).

print("Before standardizing:")
print(x['ORDERDATE'].head())
x['ORDERDATE'] = x['ORDERDATE'].str.replace('-', '/', regex=False)

# Convert using explicit format: MM/DD/YYYY H:M
x['ORDERDATE'] = pd.to_datetime(x['ORDERDATE'], format='%m/%d/%Y %H:%M', errors='coerce')

# Format to dd-mm-yyyy
x['ORDERDATE'] = x['ORDERDATE'].dt.strftime('%d-%m-%Y')

print("\nAfter standardizing:")
x['ORDERDATE'].head()

Before standardizing:
0      2/24/2003 0:00
1    05-07-2003 00:00
2    07-01-2003 00:00
3      8/25/2003 0:00
4    10-10-2003 00:00
Name: ORDERDATE, dtype: object

After standardizing:

0    24-02-2003
1    07-05-2003
2    01-07-2003
3    25-08-2003
4    10-10-2003
Name: ORDERDATE, dtype: object

In [83]:
# Rename column headers to be clean and uniform (e.g., lowercase, no spaces).
x.columns = x.columns.str.strip().str.lower().str.replace(' ', '_')
print(x.columns)

Index(['ordernumber', 'quantityordered', 'priceeach', 'orderlinenumber',
       'sales', 'orderdate', 'status', 'qtr_id', 'month_id', 'year_id',
       'productline', 'msrp', 'productcode', 'customername', 'phone',
       'addressline1', 'city', 'postalcode', 'country', 'contactlastname',
       'contactfirstname', 'dealsize'],
      dtype='object')

In [84]:
# Check and fix data types (e.g., age should be int, date as datetime).

print('Before:')
print(x.dtypes)
x['orderdate'] = pd.to_datetime(x['orderdate'], errors='coerce', format='%d-%m-%Y')
x['quantityordered'] = x['quantityordered'].round().astype('Int64')
x['orderlinenumber'] = x['orderlinenumber'].astype('Int64')
print('After:')
print(x.dtypes)

Before:
ordernumber           int64
quantityordered     float64
priceeach           float64
orderlinenumber     float64
sales               float64
orderdate            object
status               object
qtr_id                int64
month_id              int64
year_id               int64
productline          object
msrp                  int64
productcode          object
customername         object
phone                object
addressline1         object
city                 object
postalcode           object
country              object
contactlastname      object
contactfirstname     object
dealsize             object
dtype: object
After:
ordernumber                  int64
quantityordered              Int64
priceeach                  float64
orderlinenumber              Int64
sales                      float64
orderdate           datetime64[ns]
status                      object
qtr_id                       int64
month_id                     int64
year_id                      int64
productline                 object
msrp                         int64
productcode                 object
customername                object
phone                       object
addressline1                object
city                        object
postalcode                  object
country                     object
contactlastname             object
contactfirstname            object
dealsize                    object
dtype: object

In [85]:
x.to_csv('cleaned_sales_data_sample.csv', index=False)
from google.colab import files
files.download('cleaned_sales_data_sample.csv')